{{ define "content" }}

{{ range .Site.Data.sponsors }}
  <div class="col-md-3" style="padding: 10px;text-align:center;">
      <a>

      {{ if .url }}
      <a href="{{ .url }}" target="_blank" rel="noopener" title="{{ .full_name }}">
          {{ if .logo }}
              <img src="/logos/{{ .logo }}" height=125 alt="{{ .full_name }}"></a>
          {{ else }}
              {{ .name }}</a>
          {{ end }}
      {{ else }}
          {{ if .logo }}
              <img src="/logos/{{ .logo }}" height=125 alt="{{ .full_name }}">
          {{ else }}
            {{ .name }}
          {{ end }}
      {{ end }}
      </h5>
  </div>
{{ end }}

{{ end }}
