        {{ partial "head" . }}
        <hr>
        <div id="content">
            <div class="container">
                <figure class="avatar-small"><img src="/images/noah-de-bg.png"
                     alt="avatar"/>
            </figure>

            <figure class="avatar"><img src="/images/noah-spahn.png"
                     alt="avatar"/>
            </figure>
            {{ block "content" . }}{{ end }}

            <h2>Recent Publications</h2>
            {{ range first 4 .Site.RegularPages }}
                  <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ end }}

            </div>
        </div>
        
        {{ partial "foot" . }}
