{{ define "title" }}Members{{ end }}

{{ define "content" }}

  {{ $current := where .Pages "Params.current" 1 }}

  {{- range $current.GroupByParam "rank_id" }}
    {{/* Need to Substr the Key because we have numerical prefix for sorting */}}
    <h3>{{ substr .Key 2 }}</h3>
    <div class="container">
    {{- range .Pages.ByParam "affiliation" }}
    {{ $name := .Title }}
        <div class="col-md-3" style="text-align: center;">
            {{ if .Params.featured_image }}
              {{ with .Resources.GetMatch (.Params.featured_image) }}
                {{ $image := .Fill "200x200" }}
                {{ $image := $image.Filter (images.Grayscale)}}
            <img class="img-circle" src="{{ $image.Permalink }}" alt="{{ $name }}">
              {{ else }}
            <img class="img-circle" src="/img/alias.png" alt='img' width=200 height=200/>
              {{ end }}
            {{ end }}
            <div class="caption">
              {{ .Title }}
              <br/>
	      {{/* rank: {{ .Params.rank_id }} */}}
              {{/* <em>{{ .Params.featured_image }}</em> */}}
	    </div><!-- end caption -->
        </div><!-- end col --->
    {{- end }}
    </div>
  {{- end }}

  <h3>Alumni</h3>
  {{ $past := where .Pages "Params.current" 0 }}
    <div class="container">
    {{- range $past }}
    {{ $name := .Title }}
        <div class="col-md-3" style="text-align: center;">
            {{ if .Params.featured_image }}
              {{ with .Resources.GetMatch (.Params.featured_image) }}
                {{ $image := .Fill "200x200" }}
                {{ $image := $image.Filter (images.Grayscale) (images.Brightness 5)}}
		<img class="img-circle" src="{{ $image.Permalink }}" alt="{{ $name }}">
              {{ else }}
            <img class="img-circle" src="/img/alias.png" alt='img' width=200 height=200/>
              {{ end }}
            {{ end }}
            <div class="caption">
              {{ .Title }}
              <br/>
	      {{ .Params.affiliation }}
	    </div><!-- end caption -->
        </div><!-- end col --->
    {{- end }}
    </div>
{{ end }} 
