{{ define "title" }}{{ .Title }}{{ end }}

{{ define "content" }}

<div class="pad">
  <h1 class="publication">{{ .Title }}</h1>
  {{ if or .Params.paper .Params.external_url .Params.text .Params.slides .Params.video_url }}
  <div class="details-icons">
      {{ partial "publications_icons.html" . }}
  </div>
  {{ end }}

  <h2 class="publication">Authors</h2>
  <span class="authors" title="Authors">
      {{ range $i, $e := .Params.authors }}{{ if $i }}, {{ end }}<author>{{ $e }}</author>{{ end }}
  </span>
  <h2 class="publication">Venue</h2>
  <span class="venue">{{ .Params.venue }}{{ if isset .Params "date" }}, <date>{{ .Date.Format "January 2006" }}</date>{{ end }}{{ if isset .Params "publishnote" }} ({{ .Params.publishnote }}){{ end }}
  </span>
  {{ if isset .Params "note" }}
  <span>{{ .Params.note }}</span>
  {{ end }}

  {{ if gt .WordCount 0 }}
  <h2 class="publication">Abstract</h2>
  {{ .Content }}
  {{ end }}

  {{ if isset .Params "bibtex" }}
  <h2 class="publication">BibTeX</h2>
  <div id="bibtex-{{ .Slug }}">
    <pre>{{ .Params.bibtex }}</pre>
  </div>
  {{ end }}
</div>
{{ end }}
